<!-- main.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
</head>
<style>
    button {
      padding: 50px;
      margin: 20px;
      font-size: 3rem;  
    }
</style>
<body>
    <!-- Include the header component -->
    <%- include('headers.ejs') %>

    <!-- Your main content goes here -->
    <button> Categories</button>
    <button> Items</button>
    <button> Orders</button>
    <!-- More content... -->
</body>
</html>
