<!-- header.ejs -->
<header>
    <h1>My Website</h1>
    <nav>
        <ul>
            <li><a href="/admin">Home</a></li>
            <li><a href="/categoryAdd">Category</a></li>
            <li><a href="/itemsAdd">Items</a></li>
            <li><a href="/ordersDetail">Order</a></li>
        </ul>
    </nav>
</header>
